@font-face {
    font-family: 'NarrowBold';
    src: url('InputMonoNarrow-Bold.ttf');
}

@font-face {
    font-family: 'NarrowBoldItal';
    src: url('InputMonoNarrow-BoldItalic.ttf');
}

@font-face {
    font-family: 'NarrowThin';
    src: url('InputMonoNarrow-Thin.ttf');
}

@font-face {
    font-family: 'NarrowRegular';
    src: url('InputMonoNarrow-Regular.ttf');
}

@font-face {
    font-family: 'NarrowExtraLight';
    src: url('InputMonoNarrow-ExtraLight.ttf');
}

html,
body {
    /* margin: 0; */
    width: 100vw;
    height: 100vh;
}

a:-webkit-any-link {
    color: black;
}

#Titre {
    font-size: 10vw;
    margin: 2vw;
    font-family: 'NarrowBold';
    z-index: 100;
    /* background-color: white; */
    top: 10vh;
    position: absolute;
    z-index: 10;
}

#SousTitre {
    margin: 2vw;
    font-family: 'NarrowThin';
}

#Menu {
    width: 25vw;
    background-color: yellow;
    right: 2vw;
    height: 46vh;
    top: 20vh;
    position: absolute;
    z-index: 100;
}

.Parties {
    font-family: 'NarrowRegular';
    margin: 2vw;
    float: left;
}

#canvasBackground {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -5;
}

.Lettres {
    float: left;
}

#Explication {
    width: 50vw;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 45vh;
    margin: 2vh;
    font-family: 'NarrowRegular';
    padding: 5vh;
}